@import "tailwindcss";

@theme {
  --color-primary: #ef4444;
  --color-primary-dark: #b91c1c;
  --color-secondary: #1f2937;
  --color-secondary-dark: #111827;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}
